body {
    background-color: rgb(203, 193, 241);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    margin-top: 50px;
}

#main-header {
    background-color: rgb(110, 181, 243);
    border: 2px solid rgb(66, 86, 167);
    border-radius: 10px; 
    width: 400px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

h2 {
    background-color: rgb(110, 181, 243);
    border: 2px solid rgb(66, 86, 167);
    border-radius: 10px; 
    width: 400px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

ul {
    list-style-position: inside;
    text-align: center;
    padding: 0;
}

