body {
    background-color: rgb(203, 193, 241);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    margin-top: 50px;
}

#main-header {
    background-color: rgb(110, 181, 243);
}

h2 {
    background-color: rgb(110, 181, 243);
}

ul {
    list-style-position: inside;
    text-align: center;
    padding: 0;
}

